/*test*/
.left-right {
    margin-top: 30px;
}

.next {
    height: 50px;
}

.btn {
    display: none;
}

.test {
    text-align: center;
    background-color: white !important;
    margin: 0 auto;

}

.test ul {
    text-align: center;
    list-style: none;
    padding-bottom: 50px;
}

.test ul li {
    width: 50%;
    float: left;
}

.ul-btn {
    margin-top: 100px;
}

.li-btn {
    margin: 0 auto;
    width: 50%;
    height: 100px;
    cursor: pointer;
    border: 1px solid black;
}

.space-btn {
    margin-top: 20%;
}

/*intro*/
.intro {
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}

.intro li {
    font-size: 1.2em;
    margin: 50px 10px;
}

.intro p {
    font-size: 1.2em;
    margin: 0%;
}

.appeal {
    font-size: 1.2em;
    font-weight: bold;
}

.program {
    margin-top: 20px;
    padding-top: 20px;
    border-top: solid 1px #CCC;
}

table {
    margin: 10px auto;
}

td {
    width: 400px;
    height: 30px;
}

.categori {
    width: 100px;
}

.note li {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px;
}


.description {
    margin: 50px 10px;
}

/*form*/
textarea {
    width: 70%;
    height: 100px;
    resize: vertical;
}

h5 {
    font-size: 1.1em;
    padding-top: 30px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    margin-bottom: solid 1px #009a9a;
}

.page p {
    font-size: 1.2em;
    margin-bottom: 5px;
    margin-top: 20px;
}

label {
    font-size: 1.2em;
}

input[type="radio"],
input[type="checkbox"] {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    margin-right: 0.5em;
    color: red;
}

input[type="text"],
input[type="number"],
input[type="email"] {
    width: 350px;
    height: 40px;
}

input[type="submit"] {
    margin-top: 40px;
    text-align: center;
    margin: 40px auto;
    font-size: 1.2em;
}

/*全体の書式*/
.top {
    width: 100%;
    background-color: #CCFFFF;
    margin: 0%;
}

.page-wrap {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #CCFFFF;
    margin: 0% auto;
}

.page {
    width: 100%;
    margin: 20px auto;
    padding-left: 10px;
    border: #CCC solid 1px;
    background-color: white;
}
